[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
YORM = "~=1.4"

[dev-packages]
pycodestyle = "*"
pydocstyle = "*"
pytest = "*"
pytest-describe = "*"
pytest-expecter = "*"
pytest-cov = "*"
pytest-random = "*"
coverage = "*"
coverage-space = "*"
mkdocs = "*"
docutils = "*"
wheel = "*"
twine = "*"
sniffer = "*"
Pygments = "*"
PyInstaller = "*"

[dev-packages.pylint]
git = "https://github.com/PyCQA/pylint.git"
ref = "da2e9724a195ea48451222457e56fbb9311186da"

[dev-packages.astroid]
git = "https://github.com/PyCQA/astroid.git"
ref = "31f21cd2a45be5f8e7d198fb8605b9122051f8e5"
